HOST= http://127.0.0.1
PORT=3000

DB_HOST = localhost
DB_PORT = your_port #your port number
DB_USER = root #user
DB_PASSWORD = your_password #your db password  
DB_DATABASE = your_database #your db name

EMAIL_SENDGRID = 'email@example.com' #your email sender from sendgrid
SENDGRID_API_KEY = 'SG.xxxxxxxx' #your API key from Sendgrid