* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-height: 74px;
    --footer-height: 74px;
}

img {
    object-fit: cover;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    z-index: 100;

    .logo {
        width: 80px;
        height: auto;

    }
}

main{
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

footer{
    width: 100vw;
    height: var(--footer-height);
}


.overviewCard {
    width: 400px;
    aspect-ratio: 1;

    transition: transform 0.25s ease;
    cursor: pointer;
    text-decoration: none;




    &:hover {
        transform: scale(1.1);
    }

    .card-body {
        overflow-y: scroll;

        scrollbar-width: none;
    }

    .card-body::-webkit-scrollbar {
        display: none;

    }
}

.homeLike {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-radius: 15px;
    margin: 2px 3px;
    padding: 0 .5px;
    gap: 2px
        /* font-size: 10px; */

}

.like {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.like:active {
    transform: scale(1.5);
}


.reviewBox {
    height: 475px;
    overflow-y: scroll;

    scrollbar-width: none;

}

.logout {
    height: 65vh;
}