header {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 100;
}


.card {
    height: 350px;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        transform: scale(1.20);
        z-index: 10;
    }
}


footer {
    position: absolute;
    bottom: 0;
    width: 100vw;

}